*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #23252C;
    min-height: 100vh;
}

.imgbox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imgbox img{
    width: 320px;
}

.imgbox h1{
    color: #FFFFFF;
}

.imgbox h3{
    color: #F3BF99;
}